<div class="container">
  <div class="container">
    <img #sourceImageEl [src]="data.image" (click)="openCropper()">
  </div>

  <nav class="container options">
    <button mat-button [disabled]="!isCropped" (click)="save()">Save</button>
    <button mat-button [disabled]="!isCropped">Reset</button>
  </nav>

  <div class="container options">
    <button mat-button (click)="crop()" [disabled]="isCropped">Crop</button>
    <button mat-button >Undo</button>
    <button mat-button (click)="rotate('right')">Rotate right</button>
    <button mat-button (click)="rotate('left')">Rotate left</button>
  </div>
</div>

<div>
  <h6>Debug</h6>
  <h5>{{(imageData) || 'Not set'}}</h5>
  <h5>{{(canvasData) || 'Not set'}}</h5>
</div>




